@import "@styles/breakpoint";
@import "@styles/reuse";


.home-wrapper{
    width: 100vw;
    height: 100vh;
    padding: 0.5rem 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    .home-heading{
        text-transform: uppercase;
        font-size: 1.55rem;
        margin-bottom: 1rem;
        text-align: center;
        font-weight: 700;

        @include md{
            font-size: 2rem;
        }

        @include lg{
            font-size: 2.25rem;
        }
    }
    .home-sub-heading{
        // text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 1.5rem;
        text-align: center;
        font-weight: 500;

        @include md{
            font-size: 1.5rem;
        }

        @include lg{
            font-size: 2rem;
        }
    }

    article{
        margin:  0 auto;

        .navigation-tab-outer{
            display: flex;
            justify-content: center;

        .navigation-tab-inner{
            display: flex;
            flex-direction: column;
            gap:0.8rem;
            color: white;
            border-radius: 0.25rem;
            padding: 0.5rem;
            font-weight: 600;
            font-size: 1.5rem;

            @include md {
                    font-size: 1rem;
                }
            
                @include lg {
                    font-size: 2rem;
                }

            a{
                @include transition-all;
                background: #000;
                border-radius: 0.25rem;
                padding: 0.5rem 3rem;
                min-width: 250px;
                text-align: center;
              
                &:hover{
                    transform: scale(1.04);
                }
            }
        }
        }
    }
}