@keyframes top-slidein {
  from {
    top: -10%;
    opacity: 0;
  }

  to {
    top: 2rem;
    opacity: 100%;
  }
}

@keyframes bottom-slidein {
  from {
    bottom: 0%;
    opacity: 0;
  }

  to {
    bottom: 2rem;
    opacity: 100%;
  }
}

$toast-type: (
  "success": #16a34a,
  "error": #f44336,
  "info": #2196f3,
  "warn": #ff9800,
);

$toast-position-style: (
  "top-left": (
    "left": 2rem,
    "top": 2rem,
    "align-items": start,
  ),
  "top-center": (
    "left": 50%,
    "top": 2rem,
    "transform": translateX(-50%),
    "align-items": center,
  ),
  "top-right": (
    "right": 2rem,
    "top": 2rem,
    "align-items": end,
  ),
  "bottom-left": (
    "left": 2rem,
    "bottom": 2rem,
    "align-items": start,
  ),
  "bottom-center": (
    "left": 50%,
    "bottom": 2rem,
    "transform": translateX(-50%),
    "align-items": center,
  ),
  "bottom-right": (
    "right": 2rem,
    "bottom": 2rem,
    "align-items": end,
  ),
);

@each $key, $val in $toast-position-style {
  .#{$key} {
    @each $k, $v in $val {
      #{$k}: #{$v};
    }
  }
}
@each $key, $val in $toast-type {
  .#{$key} {
    background-color: $val;

    span:first-child {
      font-size: 1.3rem;
      cursor: pointer;
      color: mix(#000, $val, 60%);
    }
  }
}

.notification-container {
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: column;

  .notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
    font-size: 1.1rem;
    width: max-content;
    min-width: 100px;
    max-width: 20rem;
    max-height: 200px;
    padding: 8px 10px;
    text-align: justify;
    box-shadow: 0 0 2px 1px #d1d5db;
    gap: 20px;
    overflow: hidden;
    margin-bottom: 10px;

    animation: top-slidein 0.5s ease-in-out;
    animation-delay: 5s;

    span:nth-child(2) {
      text-overflow: clip;
      overflow: hidden;
      display: -webkit-box;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }

    span:last-child {
      font-size: 16px;
      cursor: pointer;
    }
  }
}
